<body>
  <div class="image"></div>​
  <div class="container-fluid">
      <div class="col-md-3"></div>
      <div class="col-md-6 profile">
        <table border="1"class="show-table">
          <h1 class="notice-font">Sorry, we are currently at the bar...or trivia'ing. Please check back later</h1>    
        </table>
        </div>
    </div>
  </div>
