@import 'bootstrap';

#container { 
	padding:0 90px 0 90px;
}

#logo {
	width: 100%;
	position: relative;
	display: inline;
	color: #4289c7;
	font-size: 30px;
}
body {
	color: white;
	margin-top: 50px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 23px;
}

#map {
	width: 100%;
	height:1200px;
	position: absolute;
	z-index: -10000;
	margin-top: -1270px;
}

table {
	position: relative;
}
#title {
	width: 23%;
	position: inline;
	margin-top: 26px;
	float: left;
}
#zipcode {
	width: 18%;
	position: inline;
	margin-top: 27px;
	color: rgba(50, 50, 50,.6);
}
.postfix {
	width: 10%;
	margin-left: -2px;
	color: rgba(243, 108, 101, 0.6);
	background-color: rgba(50, 50, 50,.5);
}
#search {
	background-color: rgba(50, 50, 50,.7);
	height: 75px;
	padding-left: 5px;
}
.table {
		margin-top: -10px;
}
.backing {
	background-color: rgba(50, 50, 50,.5);
	padding-left: 10px;
	margin-top: -20px;
}
.form-color{
	color: #4289c7
}
.rows {
	background-color: rgba(50, 50, 50,.6);
}
.backing2 {
	margin: 20px
}
.links {
	background-color: rgba(0, 0, 0,.6);
}
.button {
	color: black;
	display: inline-block;
	width: 60%;
}
.button-show {
	color: black;
	display: inline-block;
	width: 100%;
}
#form-font {
	color: #4289c7;
}
.addbar {
	color: rgba(243, 108, 101, .6);
}
#navfont {
	color: rgba(243, 108, 101, .6);
}
#map-att {
	width: 100%;
	height: 500px;
	color: #4289c7;
}
.col-md-6 {
	background-color: rgb(152, 152, 152);
}
div.image {
   content:url(bar-trivia-background.jpg);
   position: absolute;
   width: 95%;
   margin-top: -50px;
   padding: 20px;
   text-align: center;
}
@media all and (max-width: 1000px) {
  div.image { display: none; }
}
.titles {
	background:rgb(152, 152, 152);
	padding-left: 5px;
}
.titles-session {
	background:rgb(152, 152, 152);
	padding-left: 5px;
	width: 20%;
}
.selects {
	color: white;
}
.bluebuttons {
	color: #4289c7;
}
.show-table {
	width: 100%;
}
input {
	width: 100%;
}
.key {
	width: 20%;
}
#app-title-center {
	position: relative;
	padding: 0 30% 0 25%;
}
